<h1>Aggiungi persona:</h1>
<label>Name: <input type="text" [(ngModel)] = "newPerson.name" /></label>
<label>Surame: <input type="text" [(ngModel)] = "newPerson.surname" /></label>
<label>Age: <input type="number" [(ngModel)] = "newPerson.age" /></label>


<button *ngIf="!editMode" (click) = "buttonAdd()">Aggiungi</button>
<button *ngIf = "editMode" (click) = "completeEdit()">Conferma Modifica</button>

<h1>Person List:</h1>
<div *ngFor="let person of personList; let i = index">
  <hr>
  <p>{{person.name}}</p>
  <p>{{person.surname}}</p>
  <p>{{person.age}}</p>
  <button (click) = "buttonDelete(i)">Elimina</button>
  <button (click) = "editPerson(i)">Modifica</button>
</div>



